{# Interface Configuration                           #}
{% for intf, intf_data in interfaces.items() %}
interface {{ intf }}
description {{ intf_data.descr }}
switchport mode {{ intf_data.mode }}
{% if intf_data.mode == 'access' %}
switchport access vlan {{ intf_data.vlan }}
{% endif %}
{% endfor %}